<!DOCTYPE html>
<html>
<head>
  <title>Projekt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="text-center">
<%= render 'layouts/navbar' %>
<p class="alerts"><%= alert %></p>
<%= yield %>

</body>
<footer class="footer">
  <br \>
  <p> Created by Dominik Richter 2016</p>
</footer>
</html>
