<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<p><%= link_to 'Create another gallery', new_gallery_path %></p>
<% else %>
<p> Login to create your own galleries </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@gallery.image.big.url) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %>
</p>
<div id="comments">
  <h2><%= @gallery.comments.count %> Kommentare</h2>
  <%= render @gallery.comments %>
  <h2> Schreib einen Kommentar!</h2>
  <%= render "comments/form" %>
</div>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
