<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <%= link_to 'Create a new Category', new_category_path %>
  <br \> <br \>
<% else %>
  <p> Login to create your own galleries </p>
<% end %>
<% @categories.each do |category| %>
<p>
  <%= category.name %>
  <p><%= category.galleries.map {|g| g.title}.join(', ') %></p>
  <%= link_to 'Show', category %>
  <%= link_to 'Edit', edit_category_path(category) %>
  <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
